<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Agregadores</h4>
                        <p class="card-category">Aquí hay un listado de los agregadores que conforman el Datafill</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Agregador</th>
                                        <th>Ver</th>
                                    </tr>
                                </thead>
                                <tbody style="font-size:8.75pt">
                                    <tr *ngFor="let agregador of agregadores">
                                        <td>{{agregador.nombre}}</td>
                                        <td class="text-center">
                                            <button mat-raised-button class="btn btn-info btn-sm" (click)="network.dibujar(agregador)">
                                                <i class="fa fa-caret-right"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Datafill</h4>
                        <p class="card-category">Se grafica el Datafill del agregador elegido</p>
                    </div>
                    <div class="card-body">
                        Elija la dirección del gráfico: 
                        <button mat-raised-button class="btn btn-info btn-sm" (click)="network.cambiarDireccion('UD')">
                            <i class="fa fa-sitemap"></i>
                        </button>
                        <button mat-raised-button class="btn btn-info btn-sm" (click)="network.cambiarDireccion('LR')">
                            <i class="fa fa-sitemap fa-rotate-270"></i>
                        </button>
                    </div>
                    <div class="card-body">
                        <div id="topologia" style="height: 480px;"></div>
                        <!--<div id="cargando">Cargando...</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  