<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Búsqueda Datafill</h4>
                        <p class="card-category">Aquí hay un listado del Datafill</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="text" value="" placeholder="Búsqueda rápida" class="form-control" (keyup)="busquedaRapida($event)" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table" style="font-size:8.75pt;">
                                <thead class="text-primary">
                                    <th style="font-size:9.25pt;">
                                        Tipo
                                    </th>
                                    <th style="font-size:9.25pt;">
                                        Servicio
                                    </th>

                                    <th style="font-size:9.25pt;">
                                        <button mat-raised-button class="btn btn-primary btn-sm" (click)="serviciosFiltrados.moverSaltosIzq()">
                                                <i class="fa fa-caret-left"></i>
                                        </button>
                                    </th>
                                    <th style="font-size:9.25pt;">
                                        IDU {{serviciosFiltrados.saltoIzq}}
                                    </th>
                                    <th style="font-size:9.25pt;">
                                        PORTS {{serviciosFiltrados.saltoIzq}}
                                    </th>
                                    <th style="font-size:9.25pt;">
                                        IDU {{serviciosFiltrados.saltoIzq + 1}}
                                    </th>
                                    <th style="font-size:9.25pt;">
                                        PORTS {{serviciosFiltrados.saltoIzq + 1}}
                                    </th>
                                    <th style="font-size:9.25pt;">
                                        <button mat-raised-button class="btn btn-primary btn-sm" (click)="serviciosFiltrados.moverSaltosDer()">
                                                <i class="fa fa-caret-right"></i>
                                        </button>
                                    </th>

                                    <th style="font-size:9.25pt;">
                                        IP MW Gestion / Port
                                    </th>
                                    <th style="font-size:9.25pt;">
                                        IP Gateway / Mask
                                    </th>
                                    <th style="font-size:9.25pt;">
                                        PE RAN
                                    </th>
                                    <th style="font-size:9.25pt;">
                                        PE RAN PORT
                                    </th>
                                    <th style="font-size:9.25pt;">
                                        NOMBRE DEL SITE
                                    </th>
                                    <th style="font-size:9.25pt;">
                                        NOMBRE DEL PE ( agregador )
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let servicio of serviciosFiltrados.servicios">
                                        <td>{{servicio.tipo_servicio.nombre}}</td>
                                        <td>{{servicio.nombre}}</td>
                                        <td></td>
                                        <td>{{ ( servicio.datafill[(serviciosFiltrados.saltoIzq - 1)] )? servicio.datafill[(serviciosFiltrados.saltoIzq - 1)].idu.nombre : "" }}</td>
                                        <td>{{ ( servicio.datafill[(serviciosFiltrados.saltoIzq - 1)] )? servicio.datafill[(serviciosFiltrados.saltoIzq - 1)].idu_port_in + ' / ' + servicio.datafill[(serviciosFiltrados.saltoIzq - 1)].idu_port_out : "" }}</td>
                                        <td>{{ ( servicio.datafill[(serviciosFiltrados.saltoIzq)] )? servicio.datafill[(serviciosFiltrados.saltoIzq)].idu.nombre : "" }}</td>
                                        <td>{{ ( servicio.datafill[(serviciosFiltrados.saltoIzq)] )? servicio.datafill[(serviciosFiltrados.saltoIzq)].idu_port_in + ' / ' + servicio.datafill[(serviciosFiltrados.saltoIzq)].idu_port_out : "" }}</td>
                                        <td></td>
                                        <td>{{servicio.datafill[0].ip_mw_gestion_port}}</td>
                                        <td>{{servicio.datafill[0].ip_gateway_mask}}</td>
                                        <td>{{servicio.datafill[0].pe_ran}}</td>
                                        <td>{{servicio.datafill[0].pe_ran_port}}</td>
                                        <td>{{servicio.datafill[0].sitio.nombre}}</td>
                                        <td>{{ ( servicio.datafill[0] )? servicio.datafill[0].agregador.nombre : "" }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>